
@font-face {
    font-family: 'EB';
    src: url('EBGaramond08-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'EB';
    src: url('EBGaramond08-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}		

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}		

@font-face {
    font-family: 'Inter';
    src: url('Inter-LightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}		

@font-face {
    font-family: 'Inter';
    src: url('Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 100 1000;
  font-display: swap;
  src: url("dm_sans-variable.woff2") format("woff2");
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 100 1000;
  font-display: swap;
  font-style: italic;
  src: url("dm_sans-variable-italic.woff2") format("woff2");
}