:root {
    --fontSize: 12.4px;
    --emsAcrossViewport: 110;
    /*--fontSize: calc(100vw / var(--emsAcrossViewport));*/
    --lineHeight: calc(var(--fontSize) * 1.45); /* FF 1.3*/
    --spacing: 2rem;
    --spacingv: calc(var(--lineHeight) / 2);
    /*--gridGapCol: var(--spacing);
    --gridGapRow: calc(var(--spacing) / 2);*/
    --pageMargin: 7mm;
    --tab: 1rem;
}

.visually-hidden{clip: rect(0 0 0 0);clip-path: inset(50%);height: 1px;overflow: hidden;position: absolute;white-space: nowrap;width: 1px; }

.Devis .page.Rib{display: none;}

.page{
	width: 210mm;
	height: 297mm;
	border: 1px solid grey;
	margin: 2rem auto;
  padding: 0;
  
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  color: #333;
  
  font-family: 'DM Sans';
  font-weight: 300;
  
  overflow: hidden; 
  position: relative;
  
}

p{margin: 0;}

.content{
  padding: var(--pageMargin);
  
  display: grid;
  height: calc( 100% - (var(--pageMargin) * 2));
  grid-template-columns: repeat(9, 1fr);
  /*! grid-template-rows: repeat(9, 1fr); */
  grid-column-gap: var(--gridGapCol);
  grid-row-gap: var(--gridGapRow);
  
	grid-gap: calc(var(--lineHeight) / 2) 4mm;
	grid-auto-rows: 11%;
  grid-auto-rows: calc(var(--lineHeight) * 7);
}

.contact{
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

.to{
  grid-row: 2;
  grid-column: 5 / 6;
  justify-self: end;
}


.client{
  grid-row: 2;
  grid-column: 6 / 9;
}

.list, .rib{
	grid-row: 3 / 7;
  grid-column: 2 / 10;
}

.page:not(:first-of-type) .list{grid-row-start: 3; margin-top: calc( var(--lineHeight) * 2)}

.list{
 display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(30, 1fr);
	grid-column-gap: 2%;
	grid-auto-rows: var(--lineHeight);
  
  //max-height: calc(var(--lineHeight) * 30);
}

.categorie{
  grid-column: 1 / 7;  
  font-size: var(--fontSize);
  font-weight: 600;
  margin-bottom: var(--lineHeight);

  }

.item{
  display: grid;
  grid-column: 1 / 9;   
  grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 2%;
  margin-bottom: var(--lineHeight);
}

.description{
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.sous{
  grid-column: 1 / 6;

  
  font-family: "EB";
  font-style: Italic;
  
  margin-top: calc( var(--lineHeight) / 2);
  margin-left: var(--tab);
  grid-row: 2 / auto;
}


.prix{
   grid-column: 7 / 9;
   justify-self: start;
   grid-row: 1 / 2;
   display: inline-block;
   /*! width: 90px; */
}
.prix:not(.unpriced) p:after{
	content: " HT"; 
	display: inline; 
}

.item.droit .prix p:after{content: none;}

.remise{
  //grid-row: 22 / 27;
  grid-column: 7 / 8;
  justify-self: start;
  align-self: start;
  margin-bottom: var(--lineHeight);

}

#total{
  //grid-row: 28 / 31;
  grid-column: 7 / 8;
  justify-self: start;
  align-self: start;
}

#total p:first-child{
  font-weight: 400;
}

.notes{
  grid-column: 1 / 9;
  margin-bottom: 1em;
  //font-family: "EB";
  //font-style: Italic;
  max-width: 75ch;
  margin-top: calc(var(--lineHeight) * 3);
  text-wrap: balance;
  font-size: calc(var(--fontSize) * .75);
  line-height: calc(var(--lineHeight) * .75);
}

.rib span{
  position: absolute;
  left: 181px;
}

.legale{
  grid-row: 8 / 9;
  grid-column: 1 / span 3;
  align-self: end;
  height: auto;
  font-size: calc(var(--fontSize) * .75);
  line-height: calc(var(--lineHeight) * .75);
  letter-spacing: -.5px;
}

body {
  counter-reset: count;
}
.page {
  counter-increment: count;
}

.page .folio{
  grid-row: 8;
  grid-column: 9;
  align-self: end;
  justify-self: end;
}

.page .folio::marker { 
   content: counters(count, '.', upper-alpha) ') '; 
}
.page .folio::before {
    content: counters(count, ".");
}

@media print {

  input{display: none}
  html, body{margin: 0; padding: 0;}

  .page{
    width: 210mm;
    height: 297mm;
    border: none;
    margin: 0;
    
    page-break-after:always;
  }

}